.goods-item {
    max-width: 250px;
}
.nav-tabs {
    width: 430px;
    border-bottom: 0px !important;
}
.nav-tabs a {
    color: azure;
}
.nav-tabs .nav-item {
    width: 32%;
    margin: 0 1px 0 1px;
}
.nav-tabs .nav-item a {
    height: 100%;
}