.goods-item {
    max-width: 250px;
}
.nav-tabs {
    width: 430px;
    border-bottom: 0 !important;
}
.nav-tabs a {
    color: azure;
}
.nav-tabs .nav-item {
    width: 32%;
    margin: 0 1px 0 1px;
}
.nav-tabs .nav-item a {
    height: 100%;
}
.cart-list img {
    max-width: 70px;
}
table {
    width: min-content !important;
}

table td {
    vertical-align: middle !important;
}

#searchForm {
    height: fit-content;
}

#searchForm button {
    border-color: rgb(206, 212, 218);
}

@media screen and (max-width: 768px){
    #containerHeader {
        max-width: 100%;
    }
    #containerHeader form {
        padding: 0;
    }
    #containerHeader ul ~ button {
        background-color: #6c757d;
        border-color: white;
        box-shadow: none;
    }
}